.blog-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
}
.blog-container > div {
    color: rgb(197, 211, 211);
    background-color: white;
    border: 1px solid rgba(105, 105, 105, 0.315);
    border-radius: 25px;
    width: 250px;
    height: 150px;
    padding: 50px;
    margin: 30px;
}
@media (min-width: 768px) and (max-width:1280px) {
    .blog-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: min-content;
    }
}
@media (min-width: 1280px) and (max-width:1600px) {
    .blog-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: min-content;
    }
}
@media (min-width: 1600px) {
    .blog-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: min-content;
    }