.blog-container {
    padding: 50px;
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: 50px;
}
.blog-post {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(197, 211, 211);
    background-color: white;
    border: 2px solid rgba(105, 105, 105, 0.315);
    border-radius: 25px;
}
.blog-post img {
    border-radius: 25px;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
}
@media (min-width: 768px) and (max-width:1280px) {
    .blog-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: min-content;
    }
}
@media (min-width: 1280px) and (max-width:1600px) {
    .blog-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: min-content;
    }
}
@media (min-width: 1600px) {
    .blog-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: min-content;
    }