@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Open+Sans|Raleway&display=swap');
@import url('blog-grid.css');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0px;
}
h1 {
    color: white;
    font-family: 'Major Mono Display';
    font-size: 3em;
}
.header {
    grid-area: hd;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid rgba(105, 105, 105, 0.315);
    display: flex;
    justify-content: flex-end;
}
.header > div {
    flex: 0 1 auto;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-weight: bold;
}
.main {
    grid-area: main;
    color:white;
    background-size: cover;
    background: linear-gradient( rgb(253, 187, 43), rgb(250, 164, 52))
}
.footer {
    grid-area: ft;
    color: darkslategray;
    display: flex;
    justify-content: center;
    background-color: rgb(250, 164, 52);
}
.footer > div {
    flex: 0 1 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
}
.sidebar {
    grid-area: sd;
    display: flex;
    align-items: center;
    align-content: center;
    background-size: cover;
    background: linear-gradient( rgb(253, 187, 43), rgb(250, 164, 52))
}
.sidebar-logo {
    height: 30px;
    width: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 0px;
}
.grid-container {
    display: grid;
    height:100vh;
    grid-template-rows: 40px min-content 40px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "hd"
    "main"
    "ft";
}
@media (min-width: 1280px) {
    .grid-container {
        grid-template-rows: 40px auto 40px;
        grid-template-columns: 40px 1fr;
        grid-template-areas: 
          "hd hd"
          "sd main"
          "ft ft";
    }
}
@media only screen and (max-width: 1280px) {
    div.sidebar {
      display: none;
    }
  }