@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');
html {
    min-height: 100%;
    background-size: cover;
    background: linear-gradient( rgb(253, 187, 43), rgb(250, 164, 52));
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
h1 {
    color: white;
    font-family: 'Raleway';
    font-size: 3em;
}

.header {
    background-color: white;
    padding: 0;
    margin: 0;
}
/* body {background-image: linear-gradient( #FFAE42, red);} */