@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0px;
}
h1 {
    color: white;
    font-family: 'Raleway';
    font-size: 3em;
}
.header {
    grid-area: hd;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid rgba(105, 105, 105, 0.315);
}
.main {
    grid-area: main;
    color:white;
    background-size: cover;
    background: linear-gradient( rgb(253, 187, 43), rgb(250, 164, 52));
}
.footer {
    grid-area: ft;
    background-color:rgb(250, 164, 52);
    color: darkslategray;
    display: flex;
}
.footer > div {
    border: 1px dashed grey;
    flex: 1 1 auto;
    padding: 12px;
    text-align: center;
}

.grid-container {
    display: grid;
/*     grid-auto-rows: minmax(100px, auto); */
    height:100vh;
    grid-template-rows: 40px auto 40px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "hd"
    "main"
    "ft";
}
.blog-post-preview {
    color: darkslategray;
    background-color: white;
    border: 1px solid rgba(105, 105, 105, 0.315);
    border-radius: 25px;
    width: 200px;
    height: 150px;
    padding: 50px;
    margin: 50px;
}
